// Variáveis 
    $cor-primaria: #0C0421;
    $cor-secundaria: #4E75FF;
    $cor-terciaria: #85A0FF;
    $cor-quaternaria: #E8F5C8;
    $cor-default: #CAD4FA;
    $gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%); 
    $gradiente-secundario: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%); 
    //fontes
    $ft-textos: 'Montserrat', sans-serif;
    $ft-titulos: 'Krona One', sans-serif;

   
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: $gradiente-primario; 
    padding: 2.5rem;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;  
        .linha {
            border-top: 1px solid black;
            width: 80%;
        }    
        ul {
            display: inline-flex;
            gap: 2rem;
            li{
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: $cor-primaria;
                font-size: 22px;
                font-weight: 400;
                font-family: $ft-textos;
            }
        } 
    }
    #home {
        max-width: 1040px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        align-content: space-between;
        .textos-home {
            max-width: 486px;
            h1 {
                font-size: 42px;
                font-weight: 400;
                line-height: 150%;
                color: $cor-primaria;
                margin-bottom: 2rem;
                font-family: $ft-titulos;
                span { 
                    color: $cor-secundaria;
                }
            }
            .btn-main {
                background: $cor-secundaria;
                color: $cor-quaternaria;
                width: 280px;
                height: 66px;
                border: none;
                // padding: 1rem 2rem;
                font-size: 22px;
                font-family: $ft-textos;
                font-weight: 600;
                border-radius: 40px;
            }
        }
        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}